<h3><%= feed.escape('title') %></h3>

<h6><a><%= feed.escape('url') %></a></h6>

<div class="btn-group">
  <button class="delete btn btn-default">Delete Feed</button>
  <button class="refresh btn btn-default">Refresh Entries</button>
</div>

<ul class="entries"></ul>