@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: helvetica;
  background-image: url("http://z0enatasha.files.wordpress.com/2013/05/bgscorpio.png") ;
  background-size: cover;
  background-attachment: fixed;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#main {
  margin: 40px auto;
}

.sidebar {
  display: inline-block;
  float: left;
  width: 300px;
  margin: 20px;
}

.content {
  display: inline-block;
  margin: 20px;
  max-width: 500px;
}