<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <h2 class="navbar-text">NEWS FEED</h2>
  </div>
</nav>

<div class="container" id="main">
  <div class="sidebar"></div>
  <div class="content"> </div>
</div>